.App {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background: #f3f6fa;
  min-height: 100vh;
}

input, button {
  padding: 8px;
  margin: 5px;
}

.task-item {
  background: white;
  margin: 10px auto;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
